/* Hero.css */
@keyframes pulseBorder {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 15px 0 rgba(88, 166, 255, 0.7), 0 0 30px 0 rgba(88, 166, 255, 0.5);
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 0 0 25px 0 rgba(88, 166, 255, 1), 0 0 40px 0 rgba(88, 166, 255, 0.7);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 15px 0 rgba(88, 166, 255, 0.7), 0 0 30px 0 rgba(88, 166, 255, 0.5);
  }
}

.animate-pulseBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulseBorder 4s infinite linear;
  pointer-events: none;
}

.img-container {
  position: relative;
  display: inline-block;
}

.img-container img {
  border-radius: 50%;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.img-container:hover img {
  transform: scale(1.05); /* Melhor controle do zoom */
  filter: brightness(1.1);
}
